@font-face {
    font-family: 'Yomogi';
    src: url('assets/fonts/yomogi.otf') format('opentype');
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    font-family: 'Yomogi', sans-serif;
}

#game-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

canvas {
    display: block;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}